<form *ngIf="currentVp" [formGroup]="vpForm"> 
    DateWritten: <input type="date" formControlName="dateWritten"> <br>
    Status: <select formControlName="status">
      <option>acitive</option>
      <option>canceled</option>
      <option>draft</option>
      <option>enteredinerror</option>
    </select> <br>
    <br>
    <button style="background-color: palegreen;" *ngIf="currentVp?.id" (click) = "deleteVp()">Delete VisionPrescription</button>
    <br><br>
    <button style="background-color: palevioletred;" (click)="saveVp()">Save VisionPrescription</button>
  </form>

  <pre>{{vpForm.value | json}}</pre>

  <pre>
    {{ currentVp | json}}
  </pre>