<form *ngIf="currentMedication" [formGroup]="medicationForm">
    <!-- Code: <input type="text" formControlName="code"> <br> -->
    Status: <select formControlName="status">
      <option>active</option>
      <option>inactive</option>
      <option>enteredinerror</option>
    </select> <br>
    MarketingAuthorizationHolder: <input type="text" formControlName="mah"> <br>
    DoseForm: <input type="text" formControlName="doseform"> <br>
    TotalVolume: <input type="text" formControlName="totalvolume"> <br>
    Ingredient: <button (click)="addNewIngredient()">New Ingredient</button>
    <!-- addressIndex ist neue schleifenvariable -->
    Ingredient:
    <div style="border: solid"
      *ngFor="let ingredient of medicationForm.controls.ingredient.controls;
              let ingredientIndex = index"
      [formGroup]="ingredient">
      Postal Code: <input type="checkbox" formControlName="isActive">
      <br>
      <button (click)="removeIngredient(ingredientIndex)">Delete</button>
    </div>
    <br>
    <button *ngIf="currentMedication?.id" (click) = "deleteMedication()">Delete Medication</button>
    <br>
    <!-- <button (click)="saveMedication()">Save Medication</button> -->
    <button (click)="saveMedication()"> {{this.currentMedication?.id ==undefined ? "Create" : "Update"}} Medication</button>

    <!-- Wenn der Patient eine id hat,  kommt er aus der DB und kann daher gelöscht werden, sonst zeigen wir den Button gar nicht an-->
  </form>

  <pre>{{ medicationForm.value | json}}</pre>
  <pre>
    {{ currentMedication | json}}
  </pre>